/*
Reset
*/
* {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
* a,
* a:hover {
  text-decoration: none;
}
* audio,
* img,
* iframe,
* video {
  display: inline-block;
  width: 100%;
}
/*Buttons*/
.bt {
  border-style: solid;
  border-width: 0.02em;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  color: #fff !important;
  display: block;
  font-size: 0.98em !important;
  font-weight: bold;
  margin: 0.3em 1.6em;
  padding: 0.8em 1em !important;
}
.bt.bt-clean {
  background-color: #fff;
  border-color: #fff;
  color: #333 !important;
}
.bt.bt-dark {
  background-color: #323b44;
  border-color: #323b44;
}
.bt.bt-pink {
  background-color: #f76397;
  border-color: #f76397;
}
.bt.bt-teal {
  background-color: #20c997;
  border-color: #20c997;
}
/*Cards*/
.card-component {
  background-color: #fff;
  min-height: 30em;
}
.card-component .card-header,
.card-component .card-body,
.card-component .card-footer {
  margin: 0.5em auto;
  width: 80%;
}
.card-component .card-header h2,
.card-component .card-header h3,
.card-component .card-header p {
  font-family: Arial, Helvetica, sans-serif;
}
.card-component .card-header h2 {
  font-size: 1.9em;
  font-weight: 800;
}
