.bt
    border-style solid 
    border-width 0.02em
    border-radius 3px
    box-shadow fast-shadow
    color #fff
    display block
    margin 0.3em 1.6em 
    padding 0.8em 1em
    &.bt-clean 
        background-color #fff 
        border-color #fff
        color #333
    &.bt-dark 
        background-color #333
        border-color #333

