.card    
    padding 1em 
    .card-header
        h2, h3
            font-family roboto 
    @media(min-width: desktop)
        margin 0 auto 
        width 80%
        .card-body, .card-body
            margin 0.5em 0 0.5em 0 
        .card-header
            h2 
                font-size 2em 
        .card-body 
            min-width 80%
            max-width 90%
            img 
                width 90%
            .text
                margin-top 0.9em
                width 88%    
                p 
                    font-size 1.3em    