.header_top
    background-color #fff
    box-shadow fast-shadow
    padding 1em
    position fixed 
    width 100%
    .container_fluid
        margin 0 auto 
        width 80%
    .logo 
        width 40%
        h2 
            font-family roboto
            font-size 1.8em
            font-weight 700
    .responsive
        display block 
    .links        
        a
            color #333
            display block 
            font-family Arial, Helvetica, sans-serif 
            padding 0.6em 1em 0em 1em    
    @media(min-width: desktop)
        .container_fluid
            position relative
            width 50%
            .responsive
                display none
            .links 
                position absolute
                right 1em
                width 40%
                a
                    display inline-block 