* 
    box-sizing border-box
    line-height 1.1
    list-style-type none
    font-size 100%
    margin 0
    padding 0
    a, a:hover
        text-decoration none       
    .header_top .container_fluid, .contents, .main, .navbar 
        display flex
    .header_top .container_fluid, .main
        flex-direction: column
        @media(min-width: desktop)
            flex-direction row                
    audio, img, footer, video, iframe
        display inline-block
        width 100%     
            